<h2>{{ editMode ? 'Editar Producto' : 'Crear Producto' }}</h2>

<form [formGroup]="productForm" (ngSubmit)="submit()">

 <label for="campoNombre">Nombre:</label>
<input id="campoNombre" type="text" formControlName="nombre" required />

  <label for="campoMarca">Marca:</label>
<input id="campoMarca" type="text" formControlName="marca" />

<label for="campoCategoria">Categoría:</label>
<input id="campoCategoria" type="text" formControlName="categoria" />

<label for="campoPrecio">Precio:</label>
<input 
  id="campoPrecio" 
  type="number" 
  formControlName="precio" 
  placeholder="Ej. $500" 
/>

<label for="campoExistencias">Existencias:</label>
<input 
  id="campoExistencias" 
  type="number" 
  formControlName="existencias" 
  placeholder="Cantidad disponible" 
/>

<div class="checkbox-group">
  <input id="checkActivo" type="checkbox" formControlName="activo" />
  <label for="checkActivo">Activo</label>
</div>

  <button type="submit">{{ editMode ? 'Actualizar' : 'Crear' }}</button>
  <button type="button" (click)="resetForm()">Cancelar</button>

</form>
